.attribute-node {
    font-family: "Verdana";
}

.foodchoice-node {
    font-family: "Verdana";
}

.winner-node{
    font-family: "Verdana";
}

.winner-name{
    font-size:large;
    color: rgb(61, 117, 122)
}
