.title {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 0px;
    padding-top: 50px;
    font-size: 40px;
    font-family: "Verdana";
}

.App {
    background-color: #E6F2FF;
}

.intro-text {
    text-align: center;
}

.tag-line {
    text-align: center;
}

.checkbox{
    text-align: center;
}

